<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='ccs/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>New</title>
</head>
<body>

<div class="container mt-5">
    <h2>Criar Conta</h2>

    <form method="POST">
        {{ form.csrf_token }}

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            {{ form.email(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Nome de Usuario</label>
            {{ form.username(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            {{ form.password(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="checkPassword" class="form-label">Confirme sua Senha</label>
            {{ form.checkPassword(class="form-control") }}
        </div>

        {{ form.btn(class="btn btn-primary") }}
    </form>
</div>

</body>
</html>
